:root {
  --heigth: 100%;
  --width: 100%;
  --navbar-heigth: 6rem;
}

#root {
  height: calc(var(--heigth) - var(--navbar-heigth));
}

.App {
  width: var(--width);
  min-height: var(--heigth);

  display: flex;
  position: relative;
  justify-content: center;
}

/* NavBar */

.container-nav {
  width: var(--width);
  height: var(--navbar-heigth);
  
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #080808;
}

.container-nav > .box-nav {
  width: 90%;

  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container-nav > .box-nav > ul {
  gap: 2rem;
  display: flex;
  align-items: center;
}

.container-nav > .box-nav > ul > li > a {
  color: #fff;

  font-size: 14pt;
  font-weight: bold;
}

.container-nav > .box-nav > .box-logo > img {
  width: 70px;
}

/* Get */

.container-grid {
  width: 90%;
  margin-top: 5rem;
}

.grid-box {
  margin-top: 1.5rem;
  
  gap: 4rem; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(25% - 4rem), 1fr)); /* Até 3 itens por linha */
}

.grid-item {
  background-color: lightblue; /* Cor de fundo dos itens */
  padding: 10px; /* Espaçamento interno dos itens */
  text-align: center; /* Alinhamento do texto */
  border-radius: 8px;
}

.grid-item > img {
  width: 100px;
}

.grid-item > .container-btn-actions {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item > .container-btn-actions > .btn-delete {
  padding: 10px;

  font-size: 11pt;
  letter-spacing: 0.7px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  background-color: rgb(250, 60, 60);
}

.grid-item > .container-btn-actions > .btn-update {
  padding: 10px;

  font-size: 11pt;
  letter-spacing: 0.7px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  background-color: rgb(252, 188, 68);
}

.grid-item p, h3, small {
  padding: 7px;
}

/* Home */

.container-home {
  width: 90%;
  margin-top: 5rem;

  display: flex;
}

.container-home > .container-text-home {
  width: 50%;
  height: var(--heigth);

  display: flex;
  align-items: center;
}

.container-home > .container-text-home > h1 {
  
  font-size: 5.5rem;
}

.container-home > .container-image-home {
  width: 50%;
  height: var(--heigth);

  display: flex;
  align-items: center;
}

.container-home > .container-image-home > img {
  width: var(--width);

  animation: flutuar 1s infinite alternate; /* Animação de flutuação */

}

@keyframes flutuar {
  0% {
      transform: translateY(0); /* Sem deslocamento na vertical */
  }
  100% {
      transform: translateY(-20px); /* Deslocamento para cima */
  }
}

/* Send */

.container-send {
  width: 90%;
  margin-top: 5rem;
}

.container-form {
  margin-top: 1.5rem;

  height: var(--heigth);
  width: var(--width);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: antiquewhite;
}

.box-form {
  width: 75%;
  height: 75%;

  background-color: #fff;
}